<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="axViRqGE0UhQzoh5wrCZuObY8nDfpAUcA8fZAUqhtWg" />
    <title>俳句 | Haiku Generator</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="title">俳句</h1>
        <p class="subtitle">Haiku Generator</p>
        <div class="input-container">
            <input type="text" id="theme-input" placeholder="Enter a theme or short description..." autocomplete="off">
        </div>
        <button onclick="generateHaiku()">Generate Haiku</button>
        <div class="haiku-display" id="haiku-display"></div>
    </div>
    <script src = "static/js/script.js"></script>
</body>
</html>
